<td scope="row" class="status-cell">{{status-cell status=this.data}}</td>
<td class="progress-cell">{{progress-cell progress=this.data}}</td>
<td class="user-cell">{{user-cell user=this.data}}</td>
<td class="date-cell">{{date-cell date=this.data}}</td>