<div class="header">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">PROGRESS DATA</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					{{#link-to "data" 1 class="nav-link"}}
						Test.json
					{{/link-to}}
				</li>
				<li class="nav-item">
					{{#link-to "data" 2 class="nav-link"}}
						Test2.json
					{{/link-to}}
				</li>
				<li class="nav-item">
					{{#link-to "data" 3 class="nav-link"}}
						Test3.json
					{{/link-to}}
				</li>
				<li class="nav-item">
					{{#link-to "data" 4 class="nav-link"}}
						Test4.json
					{{/link-to}}
				</li>
			</ul>
		</div>
	</nav>
</div>
<div class="body">
  {{outlet}}    
</div>